# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
env/
venv/

# Ignore version control files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore front end build files
.html
.css
.js
.ico